.content--btn{
        height: 120px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: var(--blue);

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 14;

    font-size: 24px;

    cursor: pointer;
    opacity: 1;
    transition: all 0.6s;
}

.content--btn:hover{
    background-color: var(--blue);
    opacity: 0.8;
}
